[user]
	name = A.Dmitrovsky
	email = Anton.Dmitrovsky@infowatch.com
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[core]
	autocrlf = true
	whitespace = trailing-space,space-before-tab
[log]
	date = iso
[branch]
	autosetuprebase = remote
[alias]
	s = status -uno
	ss = status
	l = log --decorate=short --max-count=10 --pretty=oneline --graph
	ll = log --decorate=short --max-count=10 --pretty=short --graph
	co = checkout
	br = branch
	d = diff
	dc = diff --cached
[color]
	ui = auto
