[user]
	name = A.Dmitrovsky
	email = Anton.Dmitrovsky@infowatch.com
[gui]
	recentrepo = C:/arbeit/tm4
	recentrepo = C:/arbeit/crawler2
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = true
	whitespace = trailing-space,space-before-tab
[credential]
	helper = !\\\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\\\"
[log]
	date = iso
[branch]
	autosetuprebase = remote
[alias]
	s = status
	l = log --decorate=short --max-count=10 --pretty=oneline --graph
	ll = log --decorate=short --max-count=10 --pretty=short --graph
	co = checkout
	br = branch
	d = diff
	dc = diff --cached
[http]
	proxy = http://iw\\dmitrovsky@v-tmg-01:8080
